<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
  <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
</configSections>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
<appSettings>
   <add key="AWSProfileName" value="development"/>
  <!--<add key="AWSProfilesLocation" value="C:\users\sarvesh.upadhyay\ssh\awscredential"/>-->
  <add key="AWSProfilesLocation" value="~/.aws/credentials"/>
</appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
